*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
ul {
    display: flex;
    list-style: none;
    align-content: center;
}

ul li{
    text-transform: capitalize;
    margin-left: 1rem;
    
}

ul li a{
    padding: 0;
    text-decoration: none;
}

input{
    text-align: center;
}

.form-group{
    font-size: 10px;
    display: flex;
}